get_subscriptions parameters should be as in rfc 3995

see specs at http://tools.ietf.org/html/rfc3995#section-11.2.5

> 11.2.5.1.  Get-Subscriptions Request
> 
>   The following groups of attributes are part of the Get-Subscriptions
>  request:
> 
>   Group 1: Operation Attributes
> 
>   Natural Language and Character Set:
>   ...
>   Target:
>      The "printer-uri" attribute which defines the target for this
>      operation as described in [RFC2911] section 3.1.5.
> 
>   Requesting User Name:
>      The "requesting-user-name" attribute SHOULD be supplied by the
>      client as described in [RFC2911] section 8.3.
> 
> 11.2.5.1.1.  "notify-job-id" (integer(1:MAX))
> ...
> 11.2.5.1.2.  "limit" (integer(1:MAX))
> ...
> 11.2.5.1.3.  "requested-attributes" (1setOf type2 keyword)
> ...
> 11.2.5.1.4.  "my-subscriptions" (boolean)
> ...
